@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Poppins:wght@700&display=swap");

html,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
body {
  font-family: "Open Sans", sans-serif;
}

.game-state-container {
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  border: 3px hsl(217, 16%, 45%) solid;
  border-radius: 8px;
  margin: 2.5em;
  padding: 0.8em 1.5em;
  display: flex;
  align-items: center;
  width: 85%;
}

.header__title {
  width: 70%;
}

.title {
  color: white;
}

.title__text {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 0.9em;
  letter-spacing: -1px;
}

.score-container {
  background-color: white;
  padding: 0.8em 1em;
  margin-left: 50%;
  border-radius: 8px;
  text-align: center;
}

.score-container__text {
  color: hsl(229, 60%, 60%);
  font-size: 0.8em;
  padding: 0em 1em;
}

.score-container__score {
  color: hsl(229, 25%, 31%);
  font-size: 3em;
  line-height: 1em;
}

.game-container {
  margin: 3em 0em;
  position: relative;
  height: 20em;
  width: 20em;
}

.game-container_step_1 {
  background-image: url("../images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50%;
}

@keyframes text-appear {
  from {
    filter: opacity(0);
  }

  to {
    filter: opacity(1);
  }
}

.game-container__text-1 {
  font-size: 0.6em;
  animation: text-appear 2s;
  position: absolute;
  color: white;
  top: 18em;
  left: -2em;
  letter-spacing: -1px;
}

.game-container__text-2 {
  font-size: 0.6em;
  animation: text-appear 3s;
  position: absolute;
  color: white;
  top: 18em;
  right: -4em;
  letter-spacing: -1px;
}

.action {
  background-color: white;
  position: absolute;
  width: 8.5em;
  height: 8.5em;
  border-radius: 50%;
  transition-duration: 0.3s;
}

.action_step_1:hover {
  filter: invert(0.1);
  transform: scale(1.2);
  cursor: pointer;
}

.action_step_1.action_rock {
  bottom: 1.8em;
  left: 28%;
}

.action_step_1.action_scissors {
  right: 0px;
}

.action_step_2 {
  transition: all ease-in-out 0.5s;
  left: -2em;
  top: -1em;
  transform: scale(1.2);
}

.action_step_3 {
  animation: text-appear 1.5s;
  right: -2em;
  top: -1em;
  transform: scale(1.2);
}

.action_paper {
  border: 1em hsl(230, 89%, 62%) solid;
  background-image: url(../images/icon-paper.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.action_scissors {
  border: 1em hsl(39, 89%, 49%) solid;

  background-image: url(../images/icon-scissors.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.action_rock {
  border: 1em hsl(349, 71%, 52%) solid;

  background-image: url(../images/icon-rock.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.showdown {
  position: absolute;
  bottom: 3em;
  left: 25%;
  color: white;
}

.play-again {
  background-color: white;
  border: none;
  padding: 1em 5em;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1em;
  color: hsl(209, 12%, 37%);
  transition-duration: 0.3s;
  position: absolute;
  bottom: -3em;
  left: 2em;
}

.play-again:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.rules {
  background-color: inherit;
  border: 2px hsl(217, 16%, 45%) solid;
  padding: 1em 3em;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1em;
  color: white;
  transition-duration: 0.3s;
  margin-top: 3em;
}

.rules:hover {
  cursor: pointer;
  transform: scale(1.4);
}

/*RULES STATE*/
.rules-state-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules-state-container__header {
  color: hsl(227, 22%, 25%);
  letter-spacing: -1px;
  margin: 3em;
}

.rules-state-container__rules-img {
  background-image: url("../images/image-rules.svg");
  background-repeat: no-repeat;
  height: 20em;
  width: 20em;
}

.rules-state-container__close {
  margin: 5em;
  background-image: url("../images/icon-close.svg");
  background-repeat: no-repeat;
  border: none;
  background-size: cover;
  height: 2em;
  width: 2em;
}

.rules-state-container__close:hover {
  cursor: pointer;
}
